*{
    background-color: aquamarine;
    text-align: center;
}
.titulo{
    color:black;
    text-align:center;
    font-size: 4em;
}
.portada {
    width: 100%;
}
.portada:hover{
    opacity: 50%;    
}
.barra{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 930px;
    align-items: center;
    border-color: red;
    border-width: 2px;
    border-style: solid;
}
.logo{
    width: 15%;
    height: 15%;
    position: absolute;
    top: 8px;
    left: 10px;
    border-radius: 200px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
}
ul, li, a{
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    height: 3em;
}
a:hover{
color: aquamarine;
}
h4, p{
    display: inline-block;
    width: 600px;
    margin-left: 450px;
    text-align: justify;
}
.iUno, .iDos, .iTres {
    width: 200px;
    height: 150px;
    display: inline;
    margin-left: 160px;
}
.iUno:hover, .iDos:hover, .iTres:hover{
    width: 300px;
    height: 200px;
    border-color: blueviolet;
    border-width: 5px;
    border-style: solid;
}
.sol2{
    background-color: darkviolet;
    color: white;
    font-size: 14px;
    display: block;
    text-align: center;
    box-shadow: 2px -2px 5px red;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    gap: 10px;
}
