*{
    background-color: aquamarine;
}
.titulo{
    color:black;
    text-align:center;
    font-size: 4em;
}
.portada, .portada2{
    width: 100%;
}
.portada:hover{
    opacity: 50%;    
}
.barra{
    background-color: black;
    width: 100%;
    margin-left: 0;
    color: white;
    text-align: center;
    height: 2em;
    position: absolute;
    top: 110px;
}
.logo{
    width: 15%;
    height: 15%;
    position: absolute;
    top: 8px;
    left: 10px;
}
ul, li, a{
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
    display: inline;
    padding: 15px;
    align-items: center;
    width: 100%;
    text-decoration: none;
    margin-left: 0;
    text-align: center;
    height: 2em;
    top: 650px;
}
a:hover{
color: aquamarine;
}
h4{
    display: inline-block;
    width: 600px;
    top: 200px;
    margin-left: 450px;
    text-align: justify;
}
.iUno, .iDos, .iTres {
    width: 200px;
    height: 150px;
    display: inline;
    margin-left: 160px;
}
.iUno:hover, .iDos:hover, .iTres:hover{
    opacity: 40%;
    background-color: blueviolet;
}
.sol2{
    background-color: darkviolet;
    color: white;
    font-size: 14px;
    display: block;
    text-align: center;
    box-shadow: 2px -2px 5px red;
}